services:
  db:
    image: mysql:8.0
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    env_file:
      - .env

  api:
    build: ./app
    ports:
      - "8000:80"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  mysql_data: